<div class="header-container">
    <i class="twitter-icon fa fa-2x fa-twitter" aria-hidden="true"></i>

    <nav class="nav-left">
        <ul class="nav-bar">
            <li>
                <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                <a href="#">Home</a>
            </li>
            <li>
                <i class="fa fa-at fa-2x" aria-hidden="true"></i>
                <a href="#">Connect</a>
            </li>
            <li>
                <i class="fa fa-hashtag fa-2x" aria-hidden="true"></i>
                <a href="#">Discover</a>
            </li>
            <li>
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="#">Me</a>
            </li>
        </ul>
    </nav>
    <nav class="nav-right pull-right">
        <form class="search-form">
            <input class="search"  placeholder="Search" type="text">
            <i class="search-icon fa fa-search" aria-hidden="true"></i>
        </form>
        <div class="nav">
            <ul class="nav-bar">
                <li>
                    <a><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>



